
<form>

  <div>
  <label for="square_id">Enter a number </label>
  </div>

  <div>
  <input id="square_id" type="text" placeholder="What number do we want to square?" size="50px" name="square_number">
  </div>

  <div>
  <button>Calculate Square</button>
  </div>

</form>
