<div class="result_banner">
<h1>Square Root Results </h1>
</div>

<div class="result_buttons">
  <div class="result_wrapper">
    <dl>
      <dt> Number: </dt> 
      <dd> <%= @num %> </dd> 
      <dt>Square Root: </dt>
      <dd> <%= @squareroot_of_num.round(3) %> </dd>
    </dl>
  </div>
</div>
