<div class="result_banner">
<h1>Square Results </h1>
</div>

<div class="result_buttons">
  <div class="result_wrapper">
    <dl>
      <dt> Number: </dt> 
      <dd> <%= @num %> </dd> 
      <dt>Square: </dt>
      <dd> <%= @square_of_num %> </dd>
    </dl>
  </div>
</div>
