<body>
  <div class=form_items>
    <form action="/square_root/results">

        <div class="label_items">
        <label for="squareroot_id">Enter a number</label>
        </div>

        <div class="label_items">
          <input id="squareroot_id" type="text" placeholder="What do you want to get the square root of?" size="50px" name="squareroot_number">
        </div>

        <div class="button_items">
        <button> Calculate Square Root</button>
        </div>
    </form>
    </div>
</body>
