<!DOCTYPE html>
<html>
  <head>
    <title>Omnicalc 1</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <style>

  .form_items {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  .label_items {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button_items {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .result_banner {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .result_buttons {
    display: flex;
    justify-content: center;
  }

  .result_wrapper {
    text-align: center;
  }
  </style>

  </head>

  <body>
    <table style="width: 100%" border="1">
      <tr>
        <td>
          <strong>Calculators</strong>
        </td>

        <td>
          <a href="/square/new">
            Square with Form
          </a>
        </td>

        <td>
          <a href="/square_root/new">
            Square Root with Form
          </a>
        </td>

        <td>
          <a href="/payment/new">
            Payment with Form
          </a>
        </td>

        <td>
          <a href="/random/new">
            Random with Form
          </a>
        </td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
